body {
    /* background-color: #B2D8D8; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #00FFFF;
    color: #222;
}

body.dark-theme {
    color: #ddd;
    background: #222;

}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
}

header img {
    margin-bottom: 1%;
    justify-content: space-between
}

#showroom {
    width: 30%;
    height: auto;
    margin-right: 10px;

}

#bestbids {
    align-self: center;
    width: 50%;
    height: 320px;
    margin-left: 50px;
}

header ul li {
    float: left;
    display: flex;
    padding: 10px 40px;
}

nav ul li a:hover {
    background-color: violet;
    border-radius: 8px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: black;
    margin-bottom: 1rem;
}

section {
    padding: 10px 30px;
}

#main-content {
    text-align: center;
    font-size: 1rem;
    color: black;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    font-size: 1em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    margin: 0.3em;
}

button:hover {
    background-color: #3e8e41;
}

.delete-button {
    background-color: #f44336;
}

.delete-button:hover {
    background-color: #e53935;
}

#forms-section {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#forms-section h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 6px;
}

#forms-section form {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
}

#forms-section label {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

#forms-section input[type="email"],
#forms-section input[type="text"],
#forms-section input[type="password"] {
    width: 90%;
    padding: 6px;
}

form.hidden {
    display: none;
}

#carslist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#carslist li {
    flex-basis: calc(20%);
    margin-bottom: 4%;
}

#car-image:hover {
    transform: scale(1.3);
    filter: brightness(110%);
    background-size: cover;
    background-position: center;
}