body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #00FFFF;
    color: #222;
    transition: all 3s ease-in-out;
}

body.dark-theme {
    color: #ddd;
    background: #222;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
}

header img {
    margin-bottom: 1%;
    justify-content: space-between
}

#showroom {
    width: 30%;
    height: auto;
    margin-right: 20px;

}

#bestbids {
    align-self: center;
    width: 50%;
    height: 320px;
    margin-left: 40px;
}

header ul li {
    float: left;
    display: flex;
    padding: 10px 40px;
}

nav ul li a:hover {
    background-color: violet;
    border-radius: 6px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-decoration: underline;
}

section {
    padding: 10px 30px;
}

#main-content {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 10px;
}

button {
    font-size: 1em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    margin: 0.3em;
    cursor: pointer;
    transition: all 3s ease-in-out;
}

button:hover {
    background-color: #3e8e41;
}

.delete-button {
    background-color: #f44336;
}

.delete-button:hover {
    background-color: #e53935;
}

#accountsForms-section {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    transition: all 3s ease-in-out;
}

#accountsForms-section label {
    display: block;
    margin: 6px;
}

#carslist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#carslist li {
    flex-basis: calc(20%);
    margin-bottom: 4%;
}

#car-image:hover {
    transform: scale(1.3);
    filter: brightness(110%);
    background-size: cover;
    background-position: center;
    transition: all 2s ease-in-out;
}

#bid-form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    transition: all 3s ease-in-out;
}

#bid-form label {
    display: block;
}

#bid-form input[type="number"],
#bid-form input[type="text"],
#bid-form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#bid-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

#bid-form input[type="submit"]:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 20px;
    transition: all 3s ease-in-out;
    color: #fff;
    padding: 10px;

    width: 100%;
}

#contactForm label {
    display: inline-block;
    text-align: right;
    margin-bottom: 5px;
}

#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#contactForm input[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 3s ease-in-out;
}

#contactForm input[type="submit"]:hover {
    background-color: #3e8e41;
}

hr {
    height: 2px;
    border: none;
    background-color: #ccc;
    transition: all 10s ease-in-out;
}